security:
  password_hashers:
    App\Entity\User:
      algorithm: auto

  providers:
    app_user_provider:
      entity:
        class: App\Entity\User
        property: email

  firewalls:
    dev:
      pattern: ^/(_(profiler|wdt)|css|images|js)/
      security: false

    main:
      lazy: true
      provider: app_user_provider
      custom_authenticator:
        - App\Security\LoginFormAuthenticator
      logout:
        path: app_logout
      remember_me:
        secret: '%kernel.secret%'
        lifetime: 604800
        path: /

  access_control:
    - { path: ^/dentiste, roles: ROLE_DENTISTE }
    - { path: ^/secretaire, roles: ROLE_SECRETAIRE }
    - { path: ^/patient, roles: ROLE_PATIENT }

when@test:
  security:
    password_hashers:
      App\Entity\User:
        algorithm: auto
        cost: 4
        time_cost: 3
        memory_cost: 10
