<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Medento</title>



    {# --- block pour ajouter d'autres fichiers CSS --- #}
    {% block stylesheets %}{% endblock %}
</head>

<body>

{% block body %}{% endblock %}

</body>
</html>
